@@ -5,10 +5,4 @@
 /.github         export-ignore
 /.gitignore      export-ignore
 /docs            export-ignore
-/tests           export-ignore
-/phpcs.xml       export-ignore
-/phpstan.neon    export-ignore
-/phpunit.xml     export-ignore
-/rector.php      export-ignore
-/.npmignore      export-ignore
 /renovate.json   export-ignore
