@@ -1,12 +1,3 @@
 # To ignore OS temporary files use global .gitignore
 # https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer
 
-/.build
-/.logs
-/.phpunit.cache
-/composer.lock
-/vendor
-/vendor-bin
-/node_modules
-/package-lock.json
-/yarn.lock
