# Ignore files for distribution archives.

# Uncomment the lines below in your project (or use init.sh script).
# /.editorconfig   export-ignore
# /.gitattributes  export-ignore
# /.github         export-ignore
# /.gitignore      export-ignore
# /docs            export-ignore
#;< PHP
# /tests           export-ignore
# /phpcs.xml       export-ignore
# /phpstan.neon    export-ignore
# /phpunit.xml     export-ignore
# /rector.php      export-ignore
#;> PHP
#;< NODEJS
# /.npmignore      export-ignore
#;> NODEJS
#;< RENOVATE
# /renovate.json   export-ignore
#;> RENOVATE
