# To ignore OS temporary files use global .gitignore
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer

#;< PHP
#;< PHP_PHAR
/.build
#;> PHP_PHAR
/.logs
/.phpunit.cache
/composer.lock
/vendor
/vendor-bin
#;> PHP
#;< NODEJS
/node_modules
/package-lock.json
/yarn.lock
#;> NODEJS
#;< META
/.scaffold-coverage-html
#;> META
