# To ignore OS temporary files use global .gitignore
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer

.build
#;< PHP
/.coverage-html
/.phpunit.cache
/coverage.xml
/composer.lock
/vendor
/vendor-bin
#;> PHP
#;< NODEJS
/node_modules
/package-lock.json
/yarn.lock
#;> NODEJS
