@@ -4,7 +4,6 @@
 /.gitattributes  export-ignore
 /.github         export-ignore
 /.gitignore      export-ignore
-/docs            export-ignore
 /logo.png        export-ignore
 /tests           export-ignore
 /phpcs.xml       export-ignore
