/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 *
 * @see https://docusaurus.io/docs/styling-layout#styling-your-site-with-infima
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff6b00;
  --ifm-color-primary-dark: #e66000;
  --ifm-color-primary-darker: #d95a00;
  --ifm-color-primary-darkest: #b34a00;
  --ifm-color-primary-light: #ff7f1f;
  --ifm-color-primary-lighter: #ff8c33;
  --ifm-color-primary-lightest: #ffad66;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff8533;
  --ifm-color-primary-dark: #ff6b00;
  --ifm-color-primary-darker: #e66000;
  --ifm-color-primary-darkest: #cc5500;
  --ifm-color-primary-light: #ff9955;
  --ifm-color-primary-lighter: #ffad77;
  --ifm-color-primary-lightest: #ffc299;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__title {
  font-size: 1.5em;
  color: #835634;
}

[data-theme='dark'] {
  .navbar__title {
    color: #bf7f4f;
  }
}
