@@ -10,11 +10,7 @@
 trim_trailing_whitespace = true
 insert_final_newline = true
 
-[*.php]
-indent_size = 2
 
-[*.js]
-indent_size = 2
 
 [*.{json,lock}]
 indent_size = 4
@@ -22,8 +18,6 @@
 [*.{yml,yaml}]
 indent_size = 2
 
-[*.{sh,bash,bats}]
-indent_size = 2
 
 [*.xml]
 indent_size = 4
