name: Release Node.js

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  release-nodejs:
    name: Release Node.js
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install

      - name: Release
        run: npm run build
