name: Scaffold test

# Workflow to **validate** the **integrity** of the scaffold template itself.
# This workflow will be automatically removed from the scaffolded project
# after running init.sh script.

on:
  pull_request:
    branches:
      - main
      - 'feature/**'
  push:
    branches:
      - main

jobs:
  scaffold-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: luizm/action-sh-checker@v0.7.0
      env:
        SHFMT_OPTS: -i 2 -ci -s -d
    - uses: actions/setup-node@v3
      with:
        cache: 'npm'
        cache-dependency-path: tests/scaffold/package-lock.json
    - run: wget https://github.com/SimonKagstrom/kcov/releases/download/v42/kcov-amd64.tar.gz && tar -xf kcov-amd64.tar.gz && sudo mv ./usr/local/bin/kcov /usr/local/bin/kcov && kcov --version
    - run: npm --prefix=tests/scaffold ci
    - run: kcov --include-pattern=.sh,.bash --bash-parse-files-in-dir=. --exclude-pattern=vendor,node_modules,coverage $(pwd)/coverage ./tests/scaffold/node_modules/.bin/bats tests/scaffold
    - uses: actions/upload-artifact@v3
      with:
        name: code-coverage-report
        path: ./coverage
    - uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        directory: ./coverage
        fail_ci_if_error: true
