name: Test Actions

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - 'feature/**'

jobs:
  test-actions:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check coding standards with yamllint
        run: yamllint --config-file .github/.yamllint-for-gha.yml .github/workflows
        continue-on-error: ${{ vars.CI_ACTIONLINT_IGNORE_FAILURE == '1' }}

      - name: Check coding standards with actionlint
        run: docker run --rm -v "${GITHUB_WORKSPACE:-.}":/app --workdir /app rhysd/actionlint:1.6.27
        continue-on-error: ${{ vars.CI_ACTIONLINT_IGNORE_FAILURE == '1' }}
